body {
    margin-top: 50px;
}
header {
    background-color: pink;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.RaAppBar-appBar {
    top: 50px !important
}
section {
    background-color: green;
}